body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:29px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:505px;
  height:28px;
  font-size:24px;
  color:rgba(0, 204, 102, 0.698039215686274);
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:39px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:22px;
  width:50px;
  height:38px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:23px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:91px;
  width:505px;
  height:22px;
  font-size:18px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
